### Numpy_basic_1

In [1]:
import numpy as np

In [2]:
# 리스트와 넘파이 차이
list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [3]:
arr=np.array([1,2,3])
print(arr)

[1 2 3]

In [4]:
# 같은 위치에 있는 원소(element)끼리 더해짐
# >> 연산이 된다.
arr_a = np.array([1,2,3])
arr_b = np.array([4,5,6])
arr_a + arr_b

array([5, 7, 9])

In [5]:
np.array([[1,2,3],[4,5,6],[7,8,9]])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
# index, slicing : 순서가 있다.
arr_e = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr_e[-1][-1]

9

In [8]:
arr_e = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(arr_e)
print(arr_e.shape) #(3,3) : 3행 3열

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)

In [9]:
arr_a = np.array([1,2,3])
print(arr_a)
print(arr_a.shape)

[1 2 3]
(3,)

In [10]:
arr_f = np.array([[1],[2],[3]])
print(arr_f)
print(arr_f.shape) # 2차원

[[1]
 [2]
 [3]]
(3, 1)

In [11]:
# 배열의 차원 수
# 원핫 인코딩
print(arr_f) # 배열 : 콤마 상실
print(arr_f.ndim,'차원')

[[1]
 [2]
 [3]]
2 차원

In [13]:
# dtype : data type
arr_f.dtype

dtype('int32')

In [14]:
# 요소의 한 개의 크기
arr_f.itemsize

4

In [16]:
# 전체 요소의 개수 >> 원소 3개
arr_f.size

3

In [18]:
# zeros(), eye(), ones() 함수
#np.zeros(3,4) 
#TypeError: Cannot interpret '4' as a data type

np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [19]:
# np.ones((3,4)).dtype >> dtype('float64')
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [20]:
np.eye(4,4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [22]:
# arange : array + range 배열의 범위 >> r 하나 주의.
# np.arange(start, stop, step)
np.arange(5)

array([0, 1, 2, 3, 4])

In [23]:
print(np.arange(5))

[0 1 2 3 4]

In [24]:
np.arange(1,6)

array([1, 2, 3, 4, 5])

In [25]:
# np.arange(start, stop, step)
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [29]:
# linspace() 함수 : 0부터 10까지의 범위를 10개의 동일한 간격으로 나눈 값을 반환
# 0 부터 10까지의 범위를 10등분 하여 각 등분점의 값을 포함
print(np.linspace(0,10,10))
print()
print(np.linspace(0,5,4))

[ 0.          1.11111111  2.22222222  3.33333333  4.44444444  5.55555556
  6.66666667  7.77777778  8.88888889 10.        ]

[0.         1.66666667 3.33333333 5.        ]

In [31]:
# 2개의 배열 합치기
x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])
print(x)
print()
print(y)
print()
print(x + y)

[[1 2]
 [3 4]]

[[5 6]
 [7 8]]

[[ 6  8]
 [10 12]]

In [32]:
np.concatenate((x,y)) # default: axis = 0

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [34]:
concat_0 = np.concatenate((x,y), axis = 0)
print(concat_0)
print()
print(concat_0.shape)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

(4, 2)

In [35]:
concat_1 = np.concatenate((x,y), axis = 1)
print(concat_1)
print()
print(concat_1.shape)

[[1 2 5 6]
 [3 4 7 8]]

(2, 4)

In [36]:
# vstack
print(np.vstack((x,y)))
print()
print(np.concatenate((x,y), axis=0))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [37]:
# hstack : h(horizontal) 수평의 + stack(쌓아 올리다.)
print(np.hstack((x,y)))
print()
print(np.concatenate((x,y),axis=1))

[[1 2 5 6]
 [3 4 7 8]]

[[1 2 5 6]
 [3 4 7 8]]

In [38]:
dim_1 = np.hstack((x,y))
dim_2 = np.hstack((x,y))
np.hstack((dim_1, dim_2))

array([[1, 2, 5, 6, 1, 2, 5, 6],
       [3, 4, 7, 8, 3, 4, 7, 8]])

### reshape : 형태를 변경 하겠다는 의미.

In [41]:
a = np.arange(12)
print(a.shape) # 1차원 , 원소 12개
print(a)

(12,)
[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [42]:
a.reshape(3,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [43]:
dim_2 = a.reshape(3,4)
dim_2.shape

(3, 4)

- 형태를 행은 3개를 만들고 싶은데 열은 그냥 전체 원소를 고려해서 끝(-1) 에 맞춰
-  -1은 나머지 차원의 크기를 자동으로 계산하도록 하는 특수한 값, 요소의 개수와  변경하려는 형태가 맞지 않으면 ValueError

In [44]:
a.reshape(3,-1)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [45]:
temp = np.arange(1200)
temp.reshape(4,-1)

array([[   0,    1,    2, ...,  297,  298,  299],
       [ 300,  301,  302, ...,  597,  598,  599],
       [ 600,  601,  602, ...,  897,  898,  899],
       [ 900,  901,  902, ..., 1197, 1198, 1199]])

In [46]:
# 요소의 개수와 변경하려는 형태가 맞지 않으면 ValueError
temp = np.arange(7)
temp.reshape(2,-1)

ValueError: cannot reshape array of size 7 into shape (2,newaxis)

In [47]:
a.reshape(6,-1)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [58]:
# 배열 분할하기
arr = np.arange(30).reshape(-1,10) # -1 : 자동
print(arr)

[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]]

In [60]:
np.split(arr,[3],axis=1)

[array([[ 0,  1,  2],
        [10, 11, 12],
        [20, 21, 22]]),
 array([[ 3,  4,  5,  6,  7,  8,  9],
        [13, 14, 15, 16, 17, 18, 19],
        [23, 24, 25, 26, 27, 28, 29]])]

In [61]:
arr1, arr2 = np.split(arr,[3],axis=1)
print(arr1)
print()
print(arr2)

[[ 0  1  2]
 [10 11 12]
 [20 21 22]]

[[ 3  4  5  6  7  8  9]
 [13 14 15 16 17 18 19]
 [23 24 25 26 27 28 29]]

In [62]:
# 배열(array) 에 새로운 축 추가하기
a = np.array([1,2,3,4,5,6])
print(a)
print()
print(a.shape,'개 원소가 있는 1차원')

[1 2 3 4 5 6]

(6,) 개 원소가 있는 1차원

In [63]:
a[np.newaxis, :] # 2차원

array([[1, 2, 3, 4, 5, 6]])

In [64]:
a1 = a[np.newaxis, :] 
print(a1.shape) # 1 * 6 행렬(2차원)

(1, 6)

In [67]:
a2 = a[:, np.newaxis]
print(a2)
print()
print(a2.shape)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

(6, 1)

In [68]:
a2 = a[:,np.newaxis]
print(a2.shape) #6*1 행렬 구조 (2차원)

(6, 1)

In [69]:
# 인덱스 슬라이싱.
np.array([18,19,25,30,28])
ages = np.array([18,19,25,30,28])

print(ages[2])
print(ages[1:3])
print(ages[:-2])

25
[19 25]
[18 19 25]

In [70]:
# 논리적 인덱싱
ages > 20 # 비교 연산자
condition = (ages > 20)
ages[condition]

array([25, 30, 28])

In [71]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a[0])
print()
print(a[0][2])
print()
print(a[0,2])
print()
print(a[0,0])

[1 2 3]

3

3

1

In [72]:
# 수정이 가능하다.
a[0,0] = 12
print(a)
print()
print(a.shape)

[[12  2  3]
 [ 4  5  6]
 [ 7  8  9]]

(3, 3)

In [73]:
print(a[0:2])
print()
print(a)
print()
print(a[0:2].shape)

[[12  2  3]
 [ 4  5  6]]

[[12  2  3]
 [ 4  5  6]
 [ 7  8  9]]

(2, 3)

In [74]:
print(a)
print()
print(a[0:2,1:3])

[[12  2  3]
 [ 4  5  6]
 [ 7  8  9]]

[[2 3]
 [5 6]]

In [75]:
a[::-1, ::-2]

array([[ 9,  7],
       [ 6,  4],
       [ 3, 12]])

In [76]:
arr1 = np.array([[1,2],[3,4],[5,6]])
arr2 = np.array([[1,1],[1,1],[1,1]])

In [77]:
print(arr1)
print()
print(arr2)

[[1 2]
 [3 4]
 [5 6]]

[[1 1]
 [1 1]
 [1 1]]

In [78]:
result= arr1 + arr2
result

array([[2, 3],
       [4, 5],
       [6, 7]])

In [79]:
# cf) list + list
a = [1,2,3,4]
b = [5,6,7,8]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
# 브로드 캐스팅
np.array([1,2,3]) # (3,) 1차원
miles = np.array([1,2,3])

miles * 1.6

array([1.6, 3.2, 4.8])

In [83]:
miles[0]*10

10

In [84]:
"""
# 리스트는 될까?
[1,2,3] * 1.6
TypeError: can't multiply sequence by non-int of type 'float'
"""

"\n# 리스트는 될까?\n[1,2,3] * 1.6\nTypeError: can't multiply sequence by non-int of type 'float'\n"

In [85]:
# 넘파이 곱셈
arr1 = np.array([[1,2],[3,4],[5,6]])
arr2 = np.array([[2,2],[2,2],[2,2]])
result = arr1 * arr2
# 원소에 접근, 같은 위치의 원소끼리(element-wise) 곱해짐

In [86]:
print(arr1)
print()
print(arr2)
print()
print(result)

[[1 2]
 [3 4]
 [5 6]]

[[2 2]
 [2 2]
 [2 2]]

[[ 2  4]
 [ 6  8]
 [10 12]]

In [87]:
# 내적 (dot product) : 행렬 곱
#  입력 행렬 열 @ 출력되는 행이 같아야함
# 예) (x,3) @ (3,y) >> (x, y)

print(arr1.shape)
print(arr2.shape)
print(arr2)

(3, 2)
(3, 2)
[[2 2]
 [2 2]
 [2 2]]

In [88]:
# matmul (matrix multiply)
# ValueError: matmul: 
# Input operand 1 has a mismatch in its core dimension 0, 
# with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 2)
# (m,k) @ (k,n) >> (m,n)

# arr1 @ arr2

In [89]:
arr2    # (3,2)
arr2.T  # (2,3) >> 전치행렬 (T:transpose) : 행/열을 바꿈

array([[2, 2, 2],
       [2, 2, 2]])

In [90]:
arr3 = arr1 @ arr2.T
arr3

array([[ 6,  6,  6],
       [14, 14, 14],
       [22, 22, 22]])

In [91]:
print(arr3.shape)

(3, 3)

In [92]:
# 넘파이 배열에 함수 적용하기
a = np.array([0,1,2,3]) # 콤마 상실
print(a)
print()
print([0,1,2,3])

[0 1 2 3]

[0, 1, 2, 3]

In [93]:
print(np.sin(a))
print()
print(10*np.sin(a))
# 넘파이 sin() 함수 적용
# >> 배열 요소(element)의 원소 모두에 sin() 함수가 적용됨(브로드캐스팅)

[0.         0.84147098 0.90929743 0.14112001]

[0.         8.41470985 9.09297427 1.41120008]

In [94]:
# 넘파이 배열 메소드
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)
print()
print('합계: ',a.sum())
print()
print('최솟값: ',a.min())
print('최댓값: ',a.max())

[[1 2 3]
 [4 5 6]
 [7 8 9]]

합계:  45

최솟값:  1
최댓값:  9

In [95]:
# 특정 행이나 열에 넘파이 메소드 적용
# (학생 별 국, 영, 수 점수 배열 활용)
scores = np.array([[99,93,60],[98,82,93],[93,65,81],[78,82,81]])
print(scores)
print()
print(scores.sum(axis=0)) # 4명의 각 국어, 영어, 수학 각 과목에 총 점수
print()
print(scores.sum(axis=1)) # 4명의 각 학생이 받은 국,영,수 총점

[[99 93 60]
 [98 82 93]
 [93 65 81]
 [78 82 81]]

[368 322 315]

[252 273 239 241]

In [96]:
scores.mean(axis=0)
# 4명의 각 국어, 영어, 수학 각 과목에 총 점수

array([92.  , 80.5 , 78.75])

In [97]:
scores.mean(axis=1)

array([84.        , 91.        , 79.66666667, 80.33333333])